.daily-note
    padding: 0

    a
        color: darkgrey

    .date
        width: 100px
        display: inline-block

    .text
        color: lightgrey
        font-size: 14px

#daily-note
    padding: 22px
    margin: 0 auto
    max-width: 720px
    width: 100%
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px
    background-image: url('../bg_note.png')
    background-repeat: repeat-y
    box-shadow: 1px 1px 1px #AAA

    h2.date
        margin: 0
        padding: 0
        padding-left: 78px
        margin-bottom: 8px
        font-size: 22px

    .remove
        font-size: 12px
        cursor: pointer

    textarea
        background: transparent
        padding-top: 10px
        padding-left: 78px
        line-height: 21px
        font-size: 20px
        border: 0
        width: 100%

#archives
    padding: 22px
    margin: 0 auto
    max-width: 720px
    width: 100%
