#content

    #menu
        h1 
            a(href="#") Hari
        a(href="#archives") archives
        div

    #daily-note.widget
    
    #archives.widget
        h2 Archives
        #daily-notes

