#content

    #menu
        h1 
            a(href="#") Hari
        a(href="#archives") archives
        a.key-link(href="#key") lock
        div

    #daily-note.widget
    
    #archives.widget
        h2 Archives
        #daily-notes

    #key-management.widget

