
p.
    Welcome to Hari,
p.
    Hari is your Diary. All your daily stories are stored in your Cozy through
    it. What makes it really different is that like any good diary, Hari can be
    locked. Yes, noone can ready your Diary without a key. How does it work?
    It's very simple software allows locking through the usage of encryption.
p.
    All your texts can be encrypted with a single text, called passphrase or
    key. It's you who decide which key you want to use.
    So, each time you connect, enter in the following field your encryption
    key. The first time you will enter it your key will be registered and use
    to unencrypt your message. After it will be reused. 
p.
    Remember that your key cannot be changed, lost or forgotten. So, be careful
    when you chose it. But make it complex to be sure noone will guess it.
    Your key will be required each time you connect on Hari. So, Your data
    cannot be read without it.
p
    input(id="key-field", type="password")
p
    button.unlock unlock

